###############################################################################
# Core settings
###############################################################################

# General
APP_DEBUG=True

# Logging
LOG_LEVEL="DEBUG"
LOG_DIAGNOSE=False

# MongoDB
MONGODB_CONNECTION_STR=
MONGODB_DB_NAME="retro-doc-backend"
MONGODB_INSERT_CHUNK_SIZE=5
MONGODB_RETRY_MAX_ATTEMPTS=8
MONGODB_RETRY_MAX_WAIT_S=32.0
MONGODB_THROTTLE_CODES=[429,16500]
MONGODB_WRITE_CONCURRENCY=3

# Blob Storage
BLOB_STORAGE_ACCOUNT_URL=
BLOB_STORAGE_CONTAINER_NAME="retro-doc-backend"

###############################################################################
# Pipeline settings
###############################################################################

# Orchestrator / activity
ANALYZE_BATCH_SIZE=10
ANALYZE_FILE_CONCURRENCY=3
ANALYZE_RETRY_ATTEMPTS=3
ANALYZE_RETRY_INTERVAL_MS=2000
ANALYZE_ZIP_CHUNK_Q_SIZE=16
ANALYZE_ZIP_FILE_Q_SIZE=4

###############################################################################
# Documentation settings
###############################################################################

# LLM
CHAT_MODEL_BASE_URL=
CHAT_MODEL_API_KEY=
CHAT_MODEL_NAME="Codestral-2501"
CHAT_MODEL_PROVIDER="mistralai"
CHAT_MODEL_TEMPERATURE=0.1

###############################################################################
# RAG settings
###############################################################################

# Azure AI Search
AZURE_AI_SEARCH_ENDPOINT=
AZURE_AI_SEARCH_API_KEY=
AZURE_AI_SEARCH_INDEX_NAME="retro-doc-backend"
AZURE_AI_SEARCH_RETRY_MAX_ATTEMPTS=5
AZURE_AI_SEARCH_RETRY_MAX_WAIT_S=32.0
AZURE_AI_SEARCH_THROTTLE_CODES=[429,503]
AZURE_AI_SEARCH_WRITE_CONCURRENCY=5

# Embedding model
EMBEDDING_MODEL_ENDPOINT=
EMBEDDING_MODEL_API_KEY=
EMBEDDING_MODEL_NAME="text-embedding-3-small"
EMBEDDING_MODEL_PROVIDER="azure_openai"
EMBEDDING_MODEL_DIMENSIONS=1536